
@model projetBiblio.Models.GENRE
@{
    ViewBag.Title = "AjoutGenre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<hr />
<div class="container">
    <h2 class="font-weight-bold">Ajout d'un genre littéraire</h2>
</div>
<hr />
<div class="container">
    <form id="formGenre" name="formGenre" action="" method="post" enctype="multipart/form-data">
        @if (Model != null)
        {
            <input type="hidden" name="ID_EDITEUR" id="ID_EDITEUR" value="@Model.ID_GENRE" />
        }
        <div class="row">
            <div class="col-xs-4">
                <div class="form-group">
                    <label>GENRE</label>
                    <input type="text" id="NOM_GENRE" name="NOM_GENRE" class="form-control" value="@(Model!=null? Model.NOM_GENRE:"")" required />
                </div>
            </div>
        </div>
        <div class="form-group">
            @if (Model == null)
            {
                <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />

            }
            else
            {
                <input type="submit" id="modifier" name="modifier" value="Enregistrer Modification" class="btn btn-success" />
                <a href="~/Genre/AjoutGenre" class="btn btn-default">Annuler</a>
            }
        </div>
    </form>
    <hr />
    <div class="jumbotron">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr> 
                    <th>#</th>
                    <th>GENRE LITTERAIRE</th>
                    <th>DATE DE SAISIE</th>
                </tr>
                @foreach (var data in ViewBag.listeGenre)

                {
            <tr>
                <td>@data.ID_GENRE</td>
                <td>@data.NOM_GENRE</td>
                <td>@data.DATE_SAISIE</td>

                <td><a href="~/Courant/ModifierGenre/@data.ID_GENRE" class="btn btn-success btn-block"><span class="glyphicon glyphicon-edit"></span> Modifier</a></td>
                <td><a href="~/Courant/SupprimerGenre/@data.ID_GENRE" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></td>
            </tr>
                }

            </table>
        </div>


    </div>
</div>


