@model projetBiblio.Models.EDITEUR
@{
    ViewBag.Title = "AjoutEditeur";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<hr />

<div class="container">
    <h2 class="font-weight-bold">Ajout d'un éditeur</h2>
</div>

<hr />

<div>
    <form id="formEditeur" name="formEditeur" action="" method="post" enctype="multipart/form-data">
        @if (Model != null)
        {
            <input type="hidden" name="ID_EDITEUR" id="ID_EDITEUR" value="@Model.ID_EDITEUR" />
        }
    <div class="container">
        <div class="row">
            <div class="col-xs-4 ">
                <div class="form-group">
                    <label>EDITEUR</label>
                    <input type="text" id="NOM_EDITEUR" name="NOM_EDITEUR" class="form-control" value="@(Model!=null? Model.NOM_EDITEUR:"")" required />
                </div>
                <div class="form-group">
                    <label>DESCRIPTION</label>
                    <textarea type="text" id="DESCRIPTION" name="DESCRIPTION" class="form-control"> </textarea>
                </div>
            </div>
        </div>

        <div class="form-group">
            @if (Model == null)
            {
                <input type="submit" id="enregistrer" name="enregistrer" value="Enregistrer" class="btn btn-primary" />

            }
            else
            {
                <input type="submit" id="modifier" name="modifier" value="Enregistrer Modification" class="btn btn-success" />
                <a href="~/Editeur/Editeur" class="btn btn-default">Annuler</a>
            }
        </div>


        </div>
    </form>

    <hr />
    <div class="jumbotron">
        <div class="table-responsive">
            <table class="table table-bordered">
                <tr>
                    <th>#</th>
                    <th>EDITEUR </th>
                    <th>DESCRIPTION</th>
                    <th>DATE SAISIE </th>
                </tr>
                @foreach (var data in ViewBag.listeEditeur)
                {
            <tr>
                <td>@data.ID_EDITEUR</td>
                <td>@data.NOM_EDITEUR</td>
                <td>@data.DESCRIPTION</td>
                <td>@data.DATE_SAISIE</td>
                <td><a href="~/Editeur/ModifierEditeur/@data.ID_EDITEUR" class="btn btn-success btn-block"><span class="glyphicon glyphicon-edit"></span> Modifier</a></td>
                <td><a href="~/Editeur/SupprimerEditeur/@data.ID_EDITEUR" class="btn btn-danger btn-block"><span class="glyphicon glyphicon-remove"></span> Supprimer</a></td>
            </tr>
                }
            </table>
        </div>
    </div>
</div>

